.container {
    width: min(100%, 1440px);
    margin: auto;
    
}

/* header */

header {
    padding: 52px 98px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.header_ul {
    display: flex;
    column-gap: 50px;
}

li a {
    font-size: 24px;
    font-weight: 500;
    line-height: 27.58px;
       color: #758BFD;

}
.active{
    color: #27187F;
}


.search_container{
    width: 222px;
    height: 56px;
    border: 3px solid #758BFD;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8px;
}
.fa-solid{
    color: #758BFD;
}
















