.container {
    width: min(100%, 1440px);
    margin: auto;

}

/* header */

header {
    padding: 52px 98px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.header_ul {
    display: flex;
    column-gap: 50px;
}

li a {
    font-size: 24px;
    font-weight: 500;
    line-height: 27.58px;
    color: #758BFD;

}

.active {
    color: #27187F;
}


.search_container {
    width: 222px;
    height: 56px;
    border: 3px solid #758BFD;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8px;
}

.fa-solid {
    color: #758BFD;
}

/* section */
section {
    background-color: #DDEAF8;
    height: 1051px;
    padding: 94px 98px 135px 98px;
}

.section_h2 {
    margin-bottom: 68px;
    color: #27187F;
    font-size: 32px;
    font-weight: 700;
    line-height: 36.77px;
}

.section_art {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    height: 717px;

}

.div_0 {
    Width: 400px;
    Height: 333px;
    background-color: #FFFFFF;
    padding: 33px 30px;
    border-radius: 10px;

}



p {
    margin-top: 33px;
    font-weight: 400;
    line-height: 22.98px;
    font-size: 20px;
}

